.section4-para{
    margin-top: 0px;
font-size:larger;

}
.Section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4%;
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
}
.slider-image{
    width: 65%;
    border-radius: 15px;
}

@media screen and (max-width:600px) {
   
}